.row {
  display: inline-flex;
}

.time-column {
  display: flex;
  margin-right: 20px;
  text-align: left;
  max-width: 10%;
  flex-direction: column;
}

.details-column {
  display: flex;
  max-width: 90%;
  text-align: left;
  flex-direction: column;
}
