.calendar {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-label {
  text-align: center;
  font-weight: bold;
}

.day {
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}

.day.selected {
  background-color: lightblue;
  border: none;
}

.arrow {
  background-color: transparent;
}

.arrow img {
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
}

.arrow img::selection {
  border: none;
}
