.client-profile {
  display: flex;
  /* align-items: center; */
  padding: 20px;
  border: solid 1px black;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 20px 0;
}

.profile-image {
  width: 400px;
  height: 400px;
  border-radius: 20%;
  margin-right: 20px;
}

.profile-details {
  flex: 1;
  text-align: left;
}

.profile-details h2 {
  /* margin: 0 0 10px; */
  display: flex;
  justify-content: center;
}

.profile-details p {
  margin: 5px 0;
  text-wrap: wrap;
}

profile-items {
  display: flex;
  justify-content: left;
  text-align: left;
}

.client-notes {
  flex-wrap: wrap;
  max-width: 400px;
}
