.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  background-color: white;
  color: black;
  padding: 20px;
  border: 1px solid grey;
  box-shadow: 0 0 10px grey;
}

.menu {
  list-style: none;
  padding: 0;
  align-items: center;
}

.menu-item {
  position: relative; /* for submenu positioning*/
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: black;
  border-bottom: 1px solid grey;
}

.menu-item:hover {
  background-color: lightgrey;
}

.menu-item a {
  text-decoration: none;
  color: black;
}

.has-submenu .submenu {
  display: none;
  position: absolute;
  padding-right: 20px;
  top: 0;
  left: 100%; /* Position to the right of the parent menu item */
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0 0 10px grey;
  white-space: nowrap; /* Prevent line breaks within submenu items */
  z-index: 1; /* Ensure it appears above other content */
}

.has-submenu:hover .submenu {
  display: block;
}

.has-submenu:hover .menu-item {
  background-color: lightblue;
}

.submenu-item {
  margin-left: 20px;
  margin-bottom: 10px;
}

.submenu-item:last-child {
  margin-bottom: 0; /* Remove extra space after the last item */
}

.logout-item {
  position: fixed;
  bottom: 0;
  align-items: center;
}
